<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654621229885-qi6olt1ddqfrk38agql2jj6hsgsujl7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654621229885-qi6olt1ddqfrk38agql2jj6hsgsujl7h</string>
	<key>API_KEY</key>
	<string>AIzaSyAVZ65lOB3kPlPo2alz9TAwCV1HwdZqp2Y</string>
	<key>GCM_SENDER_ID</key>
	<string>654621229885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Manogya-Acharya.Snacktacular</string>
	<key>PROJECT_ID</key>
	<string>snacktacular-88fe3</string>
	<key>STORAGE_BUCKET</key>
	<string>snacktacular-88fe3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654621229885:ios:093708c0960f59cb003b54</string>
	<key>DATABASE_URL</key>
	<string>https://snacktacular-88fe3.firebaseio.com</string>
</dict>
</plist>